


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-vector/ecommerce-web-store-hand-drawn-illustration_107791-10966.jpg);
    height: 100vh;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    padding: 40px;
    background: rgb(238, 236, 236);
    border-radius: 15px;
}

         
.btn_grad {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn_grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

.input {
    padding: 10px;
    margin: 10px;
}
.button {
    margin-top: 10px;
}
.form_input_heading{
    font-size: large;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

